.alert{
  position: relative;

  &.alert-success{
    background: $aqua;
    border-radius: 2px;
    border: none;
    padding: 15px 8px;
    color: $purple;
  }


  .close{
    position: absolute;
    top: 50%;
    margin-top: -12.5px;
    right: 10px;
    color: $purple;
  }
}