.btn{
  min-width: 150px;
  border-radius: 2px;
  min-height: 50px;
  line-height: 50px;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  font-size: em(17);
  font-weight:500;

  &.btn-sm{
    line-height:normal;
    min-height: inherit;
    padding:5px 8px;
    min-width: inherit;
  }

  &.purple{
    background-color: $purple;
    color: $white;
  }

  &.blue{
    background-color: $blue;
    color: $white;
  }

  &.red{
    background-color: $redDust;
    color: $white;
  }

  &.pink{
    background-color: $pink;
    color: $white;
  }

  &.orange{
    background-color: $orange;
    color: $white;
  }

}
