.form-control{
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  @include box-shadow(none!important);
  border-radius: 2px;
  border: 1px solid $purple + 120;
  font-size: em(16);
  font-weight: 500;
  margin-bottom: 15px;
  color: $purple;

  &:focus{
    border-color: $purple;
  }
}
.form-control[type=file]{
  padding: 8px;
  line-height: 25px;
}
.img-thumb{
  padding: 12px;
  width: 100%;
  border: 1px solid #eeeeee;
  text-align: center;
}
.img-thumb img{
  min-height: 150px;
  max-height: 150px;
  width: auto;
  margin: 0 auto;
}

.login{
  .form-control{
    padding: 0 20px;
    line-height:50px;
    height:50px;
    border: 1px solid $purple;
    margin-bottom: 20px;
    @include placeholder {
      color: $purple + 50;
      font-family: $fira;
    }

    &:focus{
      border-color: $purple;
    }
  }
}


/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* CHECKBOX */
input{
  &[type="checkbox"]{
    &:not(:checked),
    &:checked{
      position: absolute;
      left: -9999px;

      + label{
        //position: relative;
        position: absolute;
        padding-left: 95px;
        cursor: pointer;

        &:before,
        &:after{
          content: '';
          position: absolute;
        }
      }
    }
  }
}
//
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  top:0;
  left:0;
  height:30px;
  width: 80px;
  background-color: darken($white, 10%);
  border-radius: 2px;
  @include transition(background-color .2s ease-in-out);
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border-radius: 2px 0 0 2px;
  background-color: $green;
  @include transition(all .2s ease-in-out);
}

/* on checked */
[type="checkbox"]:checked + label:before {
  background:#34495E;
}
[type="checkbox"]:checked + label:after {
  background: #39D2B4;
  top: 0; left: 51px;
  border-radius: 0 2px 2px 0;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  @include transition(all .2s ease-in-out);
}

[type="checkbox"]:not(:checked) + label .ui:before {
  font-family: 'FontAwesome';
  content: "\f00d";
  left: 46px;
  margin-top: 3px;
}
[type="checkbox"]:checked + label .ui:after {
  font-family: 'FontAwesome';
  content: "\f00c";
  color: #39D2B4;
  margin-top: 3px;
  left: 12px;
}
[type="checkbox"]:focus + label:before {
  border: 0; outline: 0;
  box-sizing: border-box;
}

