.navbar{
  &.navbar-default{
    background-color: lighten($purple, 5%);
    height: 90px;
    border: none;

    .navbar-header{
      background-color: $purple;
      @include flexbox;
      @include justify-content(flex-start);
      @include align-items(center);
      width: 250px;
      position: relative;

      .btn{
        position: absolute;
        left: 100%;
        background: transparent;
        border: none;
        color: $white;
        font-size: 2em;
        min-width: 90px;
        height: 90px;
      }
    }
    .container-fluid{
      padding-left: 0;
    }

    .user{
      padding: 10px;
      height: 90px;
      @include flexbox;
      @include justify-content(flex-start);
      @include align-items(center);

      figure{
        height: 50px;
        margin-right: 10px;

        img{
          height: 50px;
        }
      }
      p{
        color: $white;
      }
    }

    .navbar-nav{
      &.navbar-right{
        li{
          a{
            height: 90px;
            line-height: 90px;
            padding: 0 20px;
            background: $aqua;
            color: $purple;
            font-weight: 500;
            font-size: em(16);
            text-transform: uppercase;
          }
        }
      }
    }
  }
}



aside{
  max-width: $sidebar;
  width: 100%;
  position: fixed;
  left: 0;
  top: 90px;
  height: calc( 100vh - 90px);
  z-index: 900;
  padding: 25px 5px;
  background-color: $aqua;


  .nav{
    &.metismenu{
      >li{

        >a{
          font-size: em(16);
          color: $purple;
          text-transform: uppercase;

          &:hover,
          &:focus{
            background-color: $purple;
            color: $white;
          }

        }

        &.active{
          a{


            &:hover,
            &:focus{

            }
          }
        }

        .nav{
          li{
            a{
              background-color: $purple + 20;
              color: $white;

              &:hover{
                background-color: $purple;
              }
            }
          }
        }
      }
    }
  }
}