.pagination{
  >li{

    >a,
    >span{
      color: $white;
      background-color: $purple;
      border: 1px solid $purple;
      @include transition(all .25s ease);

      &:hover,
      &:focus{
        color: $white;
        background-color: $redDust;
        border-color: $redDust;
      }
    }

    &:first-child{
      >a,
      >span{
        margin-left: 0;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
    }

    &:last-child{
      >a,
      >span{
        margin-right: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }

  >.disabled{
    >a,
    >span{
      color: $purple;
      cursor: not-allowed;
      background-color: $white;
      border-color: $white;

      &:focus,
      &:hover{
        color: $purple;
        cursor: not-allowed;
        background-color: $white;
        border-color: $white;
      }
    }
  }

  >.active{
    >a,
    >span{

      z-index: 3;
      color: $purple - 30;
      cursor: default;
      background-color: $aqua;
      border-color: $aqua;

      &:focus,
      &:hover{
        color: $purple;
        background-color: $aqua;
        border-color: $aqua;
      }
    }
  }
}