@mixin transition($args...){
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}


@mixin box-shadow($args...){
    -webkit-box-shadow:$args;
    -moz-box-shadow:$args;
    box-shadow:$args;
}
