
h1{
    font-family: $mavenPro;
    font-weight: $bold;
    text-transform: uppercase;
}
h3{
    font-size: em(26);
    font-weight: $bold;
    color: $black;
    text-transform: uppercase;
    display: inline-block;
    position: relative;

    &:after{
        content: "";
        position: absolute;
        bottom: -5px;
        right: 0;
        height: 5px;
        width: 50px;
        background-color: $black;
    }
}
h4{
    color: $white;
    font-weight: $bold;
    font-size: em(26);
    text-transform: uppercase;
}
h5{
    font-size: em(20);
    color: $black;
}
