$browser-context: 16; // Default


$josefinSlab: 'Josefin Slab', serif;
$mavenPro: 'Maven Pro', sans-serif;



$smallBold: 500;
$bold: 900;


//COLORS
$black: #111519;
$white: #F8F8F8;
$lightGreen: #B2DBBF;
$mediumGreen: #70C1B3;
$red: #FF1654;
$lightYellow: #F3FFBD;
