body{
    font-family: $mavenPro;
    padding-top: 100px;

    background: {
        image: url(../images/pattern.png), url(../images/header-bg.jpg);
        repeat: repeat, no-repeat;
        size: auto, cover;
        position: center center, center center;
        attachment: fixed;
    }
}
