.btn{

    &.btn-default{
        width: 100%;
        max-width: 200px;
        border-radius: 50px;
        padding: 15px 0;
        line-height: normal;
        font-size: em(16);
        text-rendering: geometricPrecision;
        text-transform: uppercase;
        font-weight: $smallBold;
        background: transparent;
        color: $black;
        border: 1px solid $black;

        @include transition(all .25s ease-in-out);


        &:hover{
            background-color: $black;
            border-color: $black;
            color: $red;
        }
    }

    &.btn-login{
        margin-top: 10px;
        max-width: 170px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0;
        background: $black;
        color: $red;
        font-weight: 900;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 1.25em;
        letter-spacing: 1px;

        @include transition(all .25s ease-in-out);

        &:hover{
            background-color: $red;
            color: $white;
        }
    }

    &.btn-small{
        padding: 6px 8px;
        width: auto;
        height: auto;
        line-height: normal;
        font-size: em(13);
    }
}



.link{
    position: relative;
    color: $black;
    text-decoration: none!important;

    @include transition(all .25s ease-in-out);

    &:after{
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 40%;
        height: 2px;
        background-color: $black;

        @include transition(all .25s ease-in-out);
    }

    &:hover{
        color: $red;

        &:after{
            background-color: $red;
            left: -5%;
            width: 110%;
        }
    }

    &.pink{
        color: $red;
    }
}
