footer{
    height: auto;
    background-color: $black;
    position: relative;
    padding: 30px 0 60px;


    @include box-shadow(0 -5px 6px 0 rgba($black, .25));

    .footerContent{

        ul{
            list-style: none;
            padding: 0;
            li{
                display: block;
                padding: 0 0 8px;
            }
        }

    }
}
