header{


    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid transparentize($white, .85);
    background-color: transparent;
    z-index: 300;
    @include box-shadow(none);

    @include transition(all .35s ease-in-out);


    &.affix{
        background-color: transparentize($black, .05);
        border-bottom-color: $black;
        @include box-shadow(0 5px 6px 0 $black);
    }

}
