.form-control{

    border-radius: 3px;
    border: 1px solid $white - 30;
    background-color: $white;
    @include box-shadow(none!important);

    &:hover,
    &:focus{
        border-color: $black;
    }
}

textarea.form-control{
    resize: none;
    height: 100px;
}



.form-login{
    .form-control{
        line-height: 42px;
        height: 42px;
        padding: 0 15px;
        border-width: 3px;
        border-radius: 2px;
        font-size: em(18);
        
        &:focus{
            border-color: $red;
        }
    }
}