.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9990;
  display: none;
  background-color: rgba($black, .85);

  &.is-showing{
    display: block;
  }
}

.modal-account{
  position: fixed;
  top: 100px;
  width: 100%;
  max-width: 560px;
  display: none;
  margin: 0 auto;
  left: 50%;
  margin-left: -280px;
  z-index: 9992;

  .modal-content{
    padding: 25px;
    border-radius: 3px;
    max-width: 560px;
    width: 100%;
    margin: 0 auto;
    background-color: $white;
  }

  .close-modal-account{
    position: absolute;
    top: 0;
    right: 15px;
    font-size: em(3*16);
    color: $red;
  }
}