.navbar-default{
    .navbar-brand{
        a{
            font-size: em(30);
            line-height: 60px;
            padding: 0;
            color: $white;
            text-decoration: none!important;
            font-family: $josefinSlab;

            .fa{
                font-size: em(8);
            }

            &.hover{

            }
        }

        @media only screen and (min-width: 768px){
            a{
                font-size: em(50);
            }
        }

        @media only screen and (min-width: 992px){
            a{
                font-size: em(60);
            }
        }
    }

    .navbar-fixed-top{

        .container-fluid{
        }



        @media only screen and (min-width: 768px){

        } // END MEDIA 768PX;

        @media only screen and (min-width: 992px){



        } // END MEDIA 992PX;
    }
}
