aside{
  ul{

    list-style: none;
    padding: 0;
    
    li{
      color: $black;
      text-transform: uppercase;
      font-size: em(16);
      font-weight: 900;

      a{
        display: inline-block;
        padding: 8px 6px 8px 15px;
        position: relative;
        text-transform: uppercase;
        text-decoration: none!important;
        font-weight: 900;
        color: $black;
        z-index: 150;
        font-size: em(16);

        &:before{
          content: '';
          position: absolute;
          height: 50%;
          top: 25%;
          left: 0;
          width: 5px;
          background-color: $red;
          z-index: -1;

          @include transition(all .15s ease-in-out);
        }

        &:hover{
          color: $black;

          &:before{
            width: 40%;
          }
        }
      }
    }
  }
}