.close{
  display: block;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;

  text-shadow: none;
  filter: alpha(opacity=100);
  opacity: 1;

  &:hover {
    filter: alpha(opacity=100);
    opacity: 1;

    &::before, &::after {
      background: $red;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $white;
  }
  &::before {
    @include transform(rotate(45deg));
  }
  &::after {
    @include transform(rotate(-45deg));
  }
  &.big {
    @include transform(scale(3));
  }
  &.thick {
    &::before, &::after {
      height: 2px;
      margin-top: -1px;
    }
  }
}

body{
  font-family: $fira;
  padding-top: 100px;
}
main{
  width: calc(100% - #{$sidebar});
  margin-left: $sidebar;
  padding: 0 25px;
}