/*
*
* PROJECT: FRAGIO CMS
* LOCATION: scss/helpers/_variables.scss
*
*/

$browser-context: 16; // Default




// FONTS
$firaSlab: 'Fira Mono', monospace;
$fira:'Fira Sans', sans-serif;



// COLORS
$white: #FFFFFF;
$black: #000000;
$purple: #272a55;
$red: #89023E;
$redDust: #D7263D;
$green: #02C39A;
$aqua: #7fffd4;
$blue: #22A3F9;
$pink: #D81B60;
$orange: #FF9800;


  // SIZES
$sidebar: 250px;