main{

    margin-bottom: 50px;

    .content{
        &.allPosts{

            .container{
                background-color: $white;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                position: relative;

                padding: 15px;
                margin-top: 10vh;

                @include box-shadow(0 5px 6px 0 rgba($black, .25));



                .mainPost{

                    position: relative;
                    padding: 0 0 45px;
                    margin-bottom: 60px;

                    h1{
                        font-size: em(28);
                        margin-bottom: 25px;
                        a{
                            color: $black;
                            text-decoration: none!important;
                            @include transition(all .25s ease-in-out);

                            &:hover{
                                color: $red;
                            }
                        }
                    }
                    .postInfo{
                        padding: 0 15px;
                        text-align: center;

                        p{
                            font-size: em(18);
                            line-height: 150%;
                            margin-bottom: 30px;
                        }
                    }


                    &:after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 40%;
                        right: 40%;
                        height: 8px;
                        background-color: $red;
                    }// for .mainPost
                }// .mainPost
            }
        }
    }


    @media only screen and (min-width: 768px){

        .content{
            &.allPosts{

                .container{


                    .mainPost{

                    }
                }
            }
        }
    }// END MEDIA 768PX

    @media only screen and (min-width: 992px){

        .content{
            &.allPosts{

                .container{


                    .mainPost{

                    }
                }
            }
        }
    }// END MEDIA 992PX

    @media only screen and (min-width: 1200px){

        .content{
            &.allPosts{

                .container{


                    .mainPost{

                    }
                }
            }
        }
    }// END MEDIA 1200PX
}





.defaultPost{

    position: relative;
    padding: 0 15% 45px;
    margin-bottom: 60px;

    figure{
        width: 280px;
    }

    .postInfo{
        padding: 0 15px;
        text-align: center;

        h1{
            font-size: em(25);
            margin: 15px 0;

            a{
                color: $black;
                text-decoration: none!important;
                @include transition(all .25s ease-in-out);

                &:hover{
                    color: $red;
                }
            }
        }


        p{
            font-size: em(18);
            line-height: 120%;
            margin-bottom: 15px;
        }
    }


    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 40%;
        right: 40%;
        height: 8px;
        background-color: $red;
    }// for .mainPost



    @media only screen and (min-width: 992px){

        padding: 0 0 45px;


        position: relative;

        figure{
            width: 100%;
            height: 220px;
            overflow: hidden;
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);

            img{
                height: 220px;
                width: auto;
            }
        }

        .postInfo{
            padding: 0 15px;
            text-align: left;

            h1{
                font-size: em(20);
                margin: 0 0 5px;
            }
            p{
                font-size: em(14);
            }
        }

    }// END MEDIA 992PX

    @media only screen and (min-width: 1200px){


    }// END MEDIA 1200PX
}
