main{

    margin-bottom: 50px;

    .content{
        &.onePost{

            .container{
                background-color: $white;
                border-radius: 6px;
                position: relative;
                border-bottom: 3px solid $white - 50;

                padding: 15px;
                margin-top: 10vh;

                @include box-shadow(0 5px 6px 0 rgba($black, .25));



                .mainPost{

                    position: relative;
                    padding: 0 0 45px;
                    margin-bottom: 60px;

                    figure{
                        margin-bottom: 30px;
                    }

                    img,
                    figure img,
                    p img{
                        width: 100%;
                        border-radius: 3px;
                    }

                    h1{
                        font-size: em(28);
                        margin-bottom: 25px;
                        a{
                            color: $black;
                            text-decoration: none!important;
                            @include transition(all .25s ease-in-out);

                            &:hover{
                                color: $red;
                            }
                        }
                    }
                    .postInfo{
                        padding: 0 15px;
                        text-align: center;

                        p{
                            font-size: em(18);
                            line-height: 150%;
                            margin-bottom: 30px;
                        }
                    }


                    &:after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 40%;
                        right: 40%;
                        height: 8px;
                        background-color: $red;
                    }// for .mainPost
                }// .mainPost
            }

            .comments{
                padding: 10px 30px;

                form{
                    padding: 10px 25px;
                    background-color: $white + 3;
                    border: 1px solid $white - 15;
                    border-radius: 3px;
                    @include box-shadow(0 3px 5px 0 rgba($black, .15));
                }

                .comment{
                    position: relative;
                    margin-bottom: 20px;

                    h5{
                        margin-bottom: 0;
                    }

                    p{
                        line-height: 18px;
                        margin-bottom: 0;
                    }
                }
            }
        } // .onePost
    }


    @media only screen and (min-width: 768px){

        .content{
            &.onePost{

                .container{

                    .mainPost{
                        h1{
                            font-size: em(30);
                        }
                    }
                }
            }
        }
    }// END MEDIA 768PX

    @media only screen and (min-width: 992px){

        .content{
            &.onePost{

                .container{

                    .mainPost{
                        h1{
                            font-size: em(45);
                        }
                    }
                }
            }
        }
    }// END MEDIA 992PX

    @media only screen and (min-width: 1200px){

        .content{
            &.onePost{

                .container{

                    .mainPost{
                        h1{
                            font-size: em(60);
                        }
                    }
                }
            }
        }
    }// END MEDIA 1200PX
}




//
//.defaultPost{
//
//    position: relative;
//    padding: 0 15% 45px;
//    margin-bottom: 60px;
//
//    figure{
//
//    }
//
//    .postInfo{
//        padding: 0 15px;
//        text-align: center;
//
//        h1{
//            font-size: em(25);
//            margin: 15px 0;
//
//            a{
//                color: $black;
//                text-decoration: none!important;
//                @include transition(all .25s ease-in-out);
//
//                &:hover{
//                    color: $red;
//                }
//            }
//        }
//
//
//        p{
//            font-size: em(18);
//            line-height: 120%;
//            margin-bottom: 15px;
//        }
//    }
//
//
//    &:after{
//        content: "";
//        position: absolute;
//        bottom: 0;
//        left: 40%;
//        right: 40%;
//        height: 8px;
//        background-color: $red;
//    }// for .mainPost
//
//
//
//    @media only screen and (min-width: 992px){
//
//        padding: 0 0 45px;
//
//        @include flexbox;
//        @include justify-content(space-around);
//        @include align-items(center);
//        position: relative;
//
//        figure{
//            width: 100%;
//        }
//
//        .postInfo{
//            @include flex-grow(1);
//            padding: 0 15px;
//            text-align: left;
//
//            h1{
//                font-size: em(20);
//                margin: 0 0 5px;
//            }
//            p{
//                font-size: em(14);
//            }
//        }
//
//    }// END MEDIA 992PX
//
//    @media only screen and (min-width: 1200px){
//
//
//    }// END MEDIA 1200PX
//}
