

#particles-js{
  width: 100%;
  height: 100%;
  background: {
    color: transparent;
    image: url("");
    size: cover;
    position: 50% 50%;
    repeat: no-repeat;
  }
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
}

.wrapper {
  background: url(../imagem/user-bg.jpg) center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
}

.login{
  background-color: transparent;

  .form-group{
    position: relative;
  }

  .container{
    max-width:400px;
    width:100%;
    position: relative;
    z-index: 301;
  }

  .panel{
    border: none;
    border-radius: 2px;
    background-color: transparent;
  }

  .panel-body{
    background-color: $white;
    border-radius: 2px;
    padding: 25px 15px;
  }

  .panel-heading{
    background: {
      color: transparent;
    };
    padding: 0;
    border: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    .panel-title{
      font-family: $fira;
      font-weight:300;
      color: $white;
      font-size: em(80);
      text-transform: uppercase;
      position: relative;
      text-align: right;
    }
  }

  .alert{
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    width: 100%;
    max-width: 200px;
    font-size: em(14);

    &.alert-danger{
      background-color: $redDust;
      border: none;
      border-radius: 3px;
      color: $white;
      position: absolute;
      height:50px;

      &:before{
        content: '';
        position: absolute;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 10px solid $redDust;
        top: 5px;
        bottom: 5px;
        left: -10px;
      }
    }
  }
}