.page-header{
  margin: 0;
  border-bottom:0;

  h1{
    margin:0;
  }
}

.table{
  thead{
    tr{
      th{
        line-height: 30px;
        height:30px;
        border-bottom: 1px solid darken($white , 15%);
      }
    }
  }
  tbody{
    tr{
      td{
        line-height: 30px;
        height: 30px;
        color: $purple;
        font-weight: 500;
        border: none;
        border-bottom: 1px solid darken($white , 15%);
        a:not(.btn){
          font-weight: 500;
          color: $purple;
        }
      }

      &:last-child{
        td{
          border-bottom: 0;
        }
      }
    }
  }
}